body
{
    text-align: center;
    font-family: arial;
    color:cornflowerblue;
    padding: 0;
    margin: 0;
}

#container {
    border: 10px solid grey;
    width: 50%;
    height: 30%;
    padding: 2em;
    margin: 0 auto;
}

#cabecera {
    background-color: skyblue;
    font-size: 14px;
    margin: 0 auto;
}
