:root {
   --back-color: #101920ff;
}
*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
html {
   font-size: 62.5%;
   font-family: verdana;
   scroll-behavior: smooth;
}
a {
   text-decoration: none;
}
.cover {
   width: 25vh;
}
ul {
   list-style: none;
}
.menu ul {
   display: flex; 
   justify-content: space-around;
   padding: 1.5vh 0;
   width: 100%;
   position: fixed;
   z-index: 1;
   background-color: skyblue;
   box-shadow: 0 2px 4px 0 black;
   background-color: var(--back-color);
}
.nav-link {
   padding: 1vh;
   display: inline-block;
   border-radius: 1rem;
   font-size: 1.5rem;
   color: white;
  }
.nav-link:active {
   background-color: blueviolet;
}
main {
   width: 100%;
   position: absolute;
   margin: 0 auto;
   top: 6vh;
   z-index: -1;
   color: white;
}
.supreme-parent-info {
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.parent-info {
   width: 100%;
   padding: 3vh 1vh;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .parent-info h1 {
   font-size: 4vh;
 }
 .short-info {
   display: inline-block;
   vertical-align: middle;
   height: 100%;
 }
 .short-info a {
   color: white;
 }
 .short-info table {
   margin: 0 auto;
   font-size: 1.8vh;
 }
 article.socials {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding: 1vh 0;
 }
 #member-socials {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }
 #member-socials h3 {
   font-size: 3vh;
   margin: 1rem auto;
   width: max-content;
 }
.body1 {
   padding: 1rem 1rem;
   vertical-align: top;
}
.body1 h3 {
   font-size: 2rem;
}
.body1 p {
   font-size: 1.6rem;
   padding: 0.8rem 0;
}
.body h3 {
   width: max-content;
}
 th {
   text-align: left;
 }
 td {
   padding: 1%;
 }
.socials {
   display: flex;
   width: max-content;
   margin: auto 0 1rem 0;
}
table, hr {
   border: 0px;
}
.social-media-logo {
   height: 5vh;
}
.social-media-logo img {
   width: 100%;
}
.parent-song-body {
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   overflow: hidden;
   background-color: var(--back-color);
}
.parent-song-body div:last-of-type {
   background-image: linear-gradient(to bottom, #131b22, #0f2831, #03353d, #004344, #005145, #005145, #005145, #005145, #004344, #03353d, #0f2831, #131b22);}
iframe {
   height: auto;
   margin: 1.5rem 0;
}
#platforms {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   padding: 1rem 0;
}
#platforms figure {
   margin: auto 0;
}
@media (min-width: 750px) {   
   .parent-info {
      flex-direction: row;
      justify-content: center;
   }
   .cover {
      width: 25vw;
   }
   .short-info table {
      margin-left: 2vw;
      font-size: 1.8vw;
   }
   .parent-song-body {
      flex-direction: row;
      background-image: radial-gradient(circle, #006a39, #005649, #004149, #002b3a, #111820);
   }
   article.socials {
      justify-content: center;
   }
   article.socials .social-media-logo {
      margin: 2.5vh 5vw;
   }
   .parent-song-body div:last-of-type{
      height: max-content;
      background-image: none;  
   }
   .body1:first-child {
      padding: 1rem 2.5rem;
   }
   .body1:last-child {
      border-radius: 3vh;
   }
   #platforms {
      flex-direction: column;
   }
   .social-media-logo {
      margin: 2.5vh 0;
   }
}
@media (min-width: 1440px) {
   .nav-link {
      border-radius: 1vh;
      font-size: 1.5vw;
   }
   .body1 p {
      font-size: 1.3vw;
      padding: 0.8rem 0;
   }
   .body1 h3 {
      font-size: 1.9vw;
  }
  iframe {
      height: 30vh;
      width: 30vw;
}
}