*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
html {
   font-size: 62.5%;
   font-family: verdana;
   scroll-behavior: smooth;
}
a {
   text-decoration: none;
}
.cover {
   width: 20rem;
}
ul {
   list-style: none;
}
.menu ul {
   display: flex; 
   justify-content: space-around;
   padding: 1.5vh 0;
   width: 100%;
   position: fixed;
   z-index: 1;
   background-color: skyblue;
   box-shadow: 0 2px 4px 0 black;
   background-color: #101920ff;
}
.nav-link {
   padding: 1vh;
   display: inline-block;
   border-radius: 1rem;
   font-size: 1.5rem;
   color: white;
  }
.nav-link:active {
   background-color: blueviolet;
}
main {
   width: 100%;
   position: absolute;
   margin: 0 auto;
   top: 5.5rem;
   z-index: -1;
   color: white;
   background-color: #101920ff;
}
.supreme-parent-info {
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.parent-info {
   margin: 1rem;
   padding: 1rem 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   /*text-align: center;
   display: inline-block;
   vertical-align: middle; put on media query*/
 }
 .parent-info h1 {
   font-size: 2.6rem;
 }
 .short-info {
   display: inline-block;
   vertical-align: middle;
   height: 100%;
 }
 .short-info table {
   margin: 0 auto;
   font-size: 1.3rem;
 }
 article.socials {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin: 1rem 0;
 }
 #member-socials {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: #006B38FF;
 }
 #member-socials h3 {
   font-size: 1.8rem;
   margin: 1rem 0;
 }
.body1 {
   padding: 1rem 1rem;
   vertical-align: top;
}
.body1 h3 {
   font-size: 2rem;
}
.body1 p {
   font-size: 1.6rem;
   padding: 0.8rem 0;
}
.body h3 {
   width: max-content;
}
 th {
   text-align: left;
 }
 td {
   padding: 1%;
 }
.socials {
   display: flex;
   width: max-content;
   margin: auto 0 1rem 0;
}
table, hr {
   border: 0px;
}
.social-media-logo {
   height: 3rem;
}
.social-media-logo img {
   width: 100%;
}
.parent-song-body {
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   overflow: hidden; 
}
.parent-song-body div:last-of-type {
   background-color: #006B38FF;
}
iframe {
   width: auto;
   height: auto;
   margin: 1.5rem 0;
}
#platforms {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   padding: 1rem 0;
}
#platforms figure {
   margin: auto 0;
}