body {
    background-color: #ddd5be;
    font-family: verdana;
}

.menu {
    background-color: rgba(127,56,95, 2);
}

h1 {
    background-color: skyblue;
    width: 29%;
    padding: auto;
    text-align: center;

}

.content:hover {
    color: white;
 }